.testimonials h1 {
  font-weight: 700;
}

.testimonials {
  align-items: center;
  width: 97%;
  margin: 1rem auto;
  font-size: 16px;
  display: grid;
  justify-items: center;
  padding-bottom: 2rem;
  z-index: -1;
  position: static;
}
.testimonial-row {
  margin-top: 1rem;
  width: 75%;
  padding: 15px;
  background-color: rgba(72, 98, 85, 0.1);
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
  display: flex;
  z-index: -1;
  /* transform: translate3d(50%, 0, 0); */
}

.testimonial-row .column-left img {
  border-radius: 5px;
  max-width: 300px;
  height: auto;
}

.testimonial-row .column-right {
  margin-left: 1.4rem;
  color: #6c6a6a;
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: calc(6px + 1.4vmin);
}
.testimonials #testimonial-heading {
  color: rgb(97, 94, 94);
  margin-bottom: 3rem;
  margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
  .commission-container .bg-image {
    height: 250px;
  }
}
@media screen and (max-width: 920px) {
  .testimonials .testimonial-row {
    display: block;
    padding: 15px;
  }

  .testimonials .column-left img {
    width: 55%;
    height: auto;
  }
  .testimonial-row .column-right p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 768px) {
  .testimonial-row .column-right {
    font-size: calc(6px + 1.4vmin);
  }
}

@media screen and (max-width: 680px) {
  .testimonial-row .column-right p {
    font-size: calc(6px + 1.61vmin);
  }
  .testimonials .testimonial-row {
    width: 93%;
  }
}
@media screen and (max-width: 480px) {
  .testimonial-row .column-right p {
    margin: -3rem 0 2rem 1rem;
    font-size: calc(8px + 2vmin);
  }
}
