/* testimonial */
.testimonials h1 {
  font-weight: 500;
}
.testimonials {
  align-items: center;
  width: 97%;
  margin: 1rem auto;
  /* font: 400 100%/1 system-ui; */
  /* background: red; */
  font-size: 16px;
  display: grid;
  justify-items: center;
  padding-bottom: 2rem;
  z-index: -1;
  position: static;
}
/* .commission-container .testimonial-row:first-child {
    margin-top: 3rem;
  } */
.testimonial-row {
  margin-top: 1rem;
  width: 75%;
  padding: 15px;
  background-color: rgba(72, 98, 85, 0.1);
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
  display: flex;
  z-index: -1;
}

.testimonial-row .column-left img {
  border-radius: 5px;
  max-width: 300px;
  height: auto;
}

.testimonial-row .column-right {
  /* max-width: 900px; */
  margin-left: 1.4rem;
  color: #6c6a6a;
  margin-top: auto;
  margin-bottom: auto;
  font-style: italic;
  font-size: 16px;
}
.testimonials #testimonial-heading {
  color: rgb(97, 94, 94);
  margin-bottom: 3rem;
  margin-top: 2rem;
}
/* overlay */
/* table */
/* .table-container {
    text-align: center;
    margin-top: 5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .table-container p {
    font-size: 16px;
    color: rgba(97, 94, 94, 0.99);
  }
  table {
    margin: 4rem auto;
    width: 60%;
  
    margin: 3rem auto;
    text-align: center;
    width: 60%;
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(97, 94, 95);
  }
  
  thead {
    background-color: rgb(56, 74, 51);
    color: #fff;
    text-align: center;
  }
  
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  td {
    border: 1px solid rgba(72, 98, 85, 0.1);
    text-align: center;
    padding: 8px;
  }
  tr td {
    font-weight: bold;
  }
  tr:nth-child(even) {
    border: 1px solid rgba(72, 98, 85, 0.1);

    background-color: rgba(72, 98, 85, 0.1);
  } */
/* @media screen and (max-width: 1920px) {
    
    .commission-container .bg-text {
      top: 43%;
    }
  } */
@media screen and (max-width: 1024px) {
  .commission-container .bg-image {
    height: 250px;
  }
  /* .commission-container .bg-text {
      top: 45%;
    } */
}
@media screen and (max-width: 920px) {
  /* .commission-container::webkit-scrollbar {
      display: none;
    } */
  /* Hide scrollbar for IE, Edge add Firefox */
  /* .commission-container {
      -ms-overflow-style: none;
      scrollbar-width: none;
    } */
  /* .commission-container .bg-image {
      height: 200px;
    } */

  /* .bg-text {
      top: 40%;
      left: 50%;
    }
     .hero-image-container h1 {
      font-size: 1.5rem;
    }
    .hero-image-container p {
      font-size: 1rem;
    } */
  .testimonials .testimonial-row {
    display: block;
    padding: 15px;
  }

  .testimonials .column-left img {
    width: 55%;
    height: auto;
  }
  .testimonial-row .column-right p {
    position: relative;
    margin: -3rem 0 2rem 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 768px) {
  /*  .commission-container .bg-image {
      width: 100%;
    }
    .commission-container .bg-text {
     
      padding: 16px;
    }
    .commission-container .commission-note {
      width: 85%;
    }
  
    .commission-container .commission-images-row {
      width: 95%;
    }
    .commission-container .commission-images-row img {
      max-height: 200px;
    }
    .commission-container .hero-image-container h1 {
      font-size: 1.4rem;
    } */
  /* .commission-container .hero-image-container p {
      font-size: 1rem;
    } */
  /* .commission-images-row img {
      max-height: 170px;
    } */
}

@media screen and (max-width: 680px) {
  /* .commission-container .bg-text {
      width: 100%;
    } */

  /* .commission-container .hero-image-container p {
      font-size: 1rem;
    }
    table {
      width: 80%;
    } */
  .testimonials .testimonial-row {
    width: 93%;
  }
  .testimonial-row .column-right p {
    font-style: italic;
    margin: -3rem 0 2rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  .testimonial-row .column-right p {
    font-style: italic;
    margin: -3rem 0 2rem 1rem;
  }
}
