.landing_Container {
  color: rgb(99, 96, 96);
  text-align: left;
  font-size: 20px;
  margin-top: 1.5rem;
}
.landing_Container .landing_Image {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('../../Assets/Images/globalimages/threesisters.jpeg');

  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 240px;
}
.landing_Image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing_Image p {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
}
.landing_Image img {
  max-width: 100%;
}
.quotePeace {
  text-align: center;
}
#oilOnCanvas {
  font-style: italic;
  margin-top: 0;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
  text-align: center;
}
.footertext-home {
  text-align: center;
}
.home-images-row {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

.home-image-column {
  margin-right: 6px;
  margin-right: auto;
  margin-left: auto;
}
.home-image-column img {
  width: 100%;
  /* max-height: 700px; */
  text-align: center;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}
.macaw-container {
  text-align: center;
  margin-bottom: 7rem;
  color: rgb(116, 108, 108);
}
.home-bluethumb {
  font-weight: 500;
  font-size: calc(6px + 2.8vmin);
}

#quickLink_bluethumb_center p {
  font-size: 16px;
  margin-bottom: 5px;
}

.macaw-images-row {
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  max-height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 2rem;
  gap: 7px;
  margin-bottom: 3rem;
}

.macaw-image-column {
  margin-right: 6px;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-right: auto;
  margin-left: auto;
}
.macaw-image-column img {
  max-width: 100%;
  max-height: 600px;
  text-align: center;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}
.headpaint {
  width: 100%;
}
.headpaint h1 {
  margin-bottom: 2rem;
}
#home_paintTitle {
  font-size: calc(6px + 2.6vmin);
}
.announcement_home {
  font-size: calc(6px + 3.3vmin);
  margin-bottom: 1rem;
  color: rgb(99, 96, 96);
}
.ages_home {
  font-size: calc(6px + 2.8vmin);
}
#class_details1 {
  text-align: center;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: rgb(97, 94, 94);
  font-weight: 500;
  /* width: 90%; */
}
#class_details1 p {
  margin-top: 1rem;
}

.paintbrush_text {
  max-width: 40rem;
  padding: 3rem 2rem;
  border: 3px solid #486255;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  transition-duration: 2s;
  transition-property: width;
}

@media screen and (max-width: 980px) {
  .paintbrush_text {
    width: 79%;
  }
}
@media screen and (max-width: 768px) {
  /* .landing_Image {
    width: 100%;
  } */

  .landing_Container .landing_Image {
    width: 100%;
  }
  .paintbrush_text {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .footertext-home {
    font-size: 12px;
  }
  .paintbrush_text {
    /* padding: 2rem 1rem;
    margin-top: 2rem; */
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .paintbrush_text {
    padding: 3rem 1rem;
    border: 8px solid #486255;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
