.landing_Container {
  color: rgb(99, 96, 96);
  text-align: left;
  font-size: 20px;
  margin-top: 1.5rem;
}
.landing_Image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing_Image p {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
}
.landing_Image img {
  max-width: 100%;
}
.quotePeace {
  text-align: center;
  /* text-justify: center; */
}
#oilOnCanvas {
  font-style: italic;
  margin-top: 0;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
  text-align: center;
}
.footertext-home {
  text-align: center;
}
.home-images-row {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-height: 600px;
  position: relative;
  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
}

.home-image-column {
  margin-right: 6px;
  margin-right: auto;
  margin-left: auto;
}
.home-image-column img {
  max-width: 100%;
  max-height: 700px;
  text-align: center;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
}
#home_paintTitle {
  font-size: calc(7px + 2.5vmin);
}
#announcement_home {
  font-size: calc(7px + 3vmin);
}
#ages_home {
  font-size: calc(7px + 2.8vmin);
}
#class_details1 {
  text-align: center;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: rgb(97, 94, 94);
  font-weight: 500;
  width: 90%;
  /* max-width: 20rem; */
}
#class_details1 p {
  margin-top: 1rem;
}
.paintbrush_text {
  max-width: 40rem;
  padding: 3rem 2rem;
  border: 5px solid #486255;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  transition-duration: 2s;
  transition-property: width;
}
.one {
  transition-timing-function: linear;
}
/* div > .paintbrush_text {
  animation: myclass 5s infinite;
}
@keyframes myclass {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
} */
@media screen and (max-width: 768px) {
  .landing_Image {
    width: 100%;
  }
  .paintbrush_text {
    width: 80%;
  }
  /* #class_details1 {
    max-width: 80%;
  } */
}
/* @media screen and (max-width: 680px) {
    #class_details1 {
      width: 90%;
    }
  } */
@media screen and (max-width: 480px) {
  .footertext-home {
    font-size: 12px;
  }
  .paintbrush_text {
    width: 90%;
    padding: 2rem 1rem;
    margin-top: 2rem;
  }

  /* #class_details1 {
    width: 95%;
    padding: 0rem 0.5rem;
  } */
}
@media screen and (max-width: 400px) {
  .paintbrush_text {
    width: 80%;
    padding: 3rem 1rem;
    border: 8px solid #486255;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
