.landing_Container {
  color: rgb(99, 96, 96);
  text-align: left;
  font-size: 20px;
  margin-top: 1.5rem;
}
.landing_Image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.landing_Image p {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
}
.landing_Image img {
  max-width: 100%;
}
.quotePeace {
  text-align: center;
  /* text-justify: center; */
}
#oilOnCanvas {
  font-style: italic;
  margin-top: 0;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(116, 108, 108);
  text-align: center;
}
.footertext-home {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .landing_Image {
    width: 100%;
  }
}
/* @media screen and (max-width: 480px) {
  .footertext-home {
    font-size: 12px;
  }
} */
