/* .stellaimg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
.stellaimg #about {
  font-size: 1.7rem;
  color: rgb(97, 94, 94);
  font-weight: 500;
}

.image-box {
  margin-top: 0.7rem;
}
.image-box img {
  width: 40%;
  float: left;
  margin-right: 1rem;
  padding: 6px;
  border: 2px solid #486255;
}
.image-box p {
  width: 30%;
}

.stellaimg #artist-quote {
  font-style: italic;
  font-size: 16px;
}
.stellaimg #stella-name {
  font-weight: 500;
  font-style: normal;
}
.stellaimg p {
  color: rgba(97, 94, 94, 0.99);
}
#exhibitionNote {
  margin-top: 1rem;
}
#exhibitionNote h3 {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .image-box {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
  .image-box img {
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .stellaimg {
    width: 95%;
  }
  .quotePeace,
  .quote {
    width: 80%;
  }
} */
.stellaimg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
.stellaimg #about {
  font-size: 1.7rem;
  color: rgb(97, 94, 94);
  font-weight: 500;
}

/* .image-box {
  margin-top: 0.7rem;
} */
.image-box img {
  width: 40%;
  float: left;
  margin-right: 1rem;
  padding: 6px;
  border: 2px solid #486255;
}
.image-box p {
  width: 30%;
}

.stellaimg #artist-quote {
  font-style: italic;
  font-size: 16px;
}
.stellaimg #stella-name {
  font-weight: 500;
  font-style: normal;
}
.stellaimg p {
  color: rgba(97, 94, 94, 0.99);
}
#exhibitionNote {
  margin-top: 1rem;
}
#exhibitionNote h3 {
  margin-bottom: 1rem;
}

/* Nature quote */
.quotes {
  text-align: center;
  margin-top: 4rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.quotes-container {
  text-justify: center;
}
.quotes-container .quotes p {
  color: rgb(97, 94, 94);
  /* margin-top: 2rem; */
  font-size: 18px;
  font-style: italic;
}
h3,
h2 {
  color: rgb(99, 96, 96);
  /* font-size: 20px; */
}
/* Lazy loader */
.container-loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.flex {
  min-height: 60pt;
}

@keyframes loading {
  0% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
  25% {
    height: 4pt;
    margin-top: 23pt;
  }
  50% {
    width: 4pt;
  }
  75% {
    width: 50pt;
  }
  100% {
    width: 50pt;
    height: 50pt;
    margin-top: 0;
  }
}

.loader {
  width: 50pt;
  height: 50pt;
  border-radius: 100%;
  border: #6767fa 4pt solid;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  animation: loading 1s infinite;
}

.load-text {
  padding-top: 15px;
  text-align: center;
  color: lighten(#6767fa, 75%);
}

@media screen and (max-width: 768px) {
  .image-box {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
  .image-box img {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .stellaimg {
    width: 90%;
  }
}
